Model/classes/cm/gov/minfof/model/entityviewobject/common/AgrementsViewSDO.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" targetNamespace="/cm/gov/minfof/model/entityviewobject/common/"
     xmlns="/cm/gov/minfof/model/entityviewobject/common/" elementFormDefault="qualified"
     sdoJava:package="cm.gov.minfof.model.entityviewobject.common">
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:complexType name="AgrementsViewSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>Idagrements</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Idagrements" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Datedebut" type="ns0:date-Date" minOccurs="0" nillable="true"/>
            <xsd:element name="Datefin" type="ns0:date-Date" minOccurs="0" nillable="true"/>
            <xsd:element name="Numagreement" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Descriptioncontenuagreements" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Nomdetenteur" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="agrementsViewSDO" type="AgrementsViewSDO"/>
</xsd:schema>
