Model/src/cm/gov/minfof/model/entityviewobject/common/PermisViewSDO.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" targetNamespace="/cm/gov/minfof/model/entityviewobject/common/"
     xmlns="/cm/gov/minfof/model/entityviewobject/common/" elementFormDefault="qualified"
     sdoJava:package="cm.gov.minfof.model.entityviewobject.common">
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:include schemaLocation="DetailpermisViewSDO.xsd"/>
    <xsd:include schemaLocation="CertificatorigineViewSDO.xsd"/>
    <xsd:complexType name="PermisViewSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>Idpermis</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Idpermis" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Numeropermis" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Zonecoupe" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Datedelivrance" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="Datefin" type="ns0:date-Date" minOccurs="0" nillable="true"/>
            <xsd:element name="Observation" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Idagrement" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="Idpermissionnaire" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="Typedocument" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="Cheminfichier" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Nomfichier" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="PermisView" type="PermisViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PermisView1" type="PermisViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="DetailpermisView" type="DetailpermisViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="CertificatorigineView" type="CertificatorigineViewSDO" minOccurs="0"
                 maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="permisViewSDO" type="PermisViewSDO"/>
</xsd:schema>
